.super-mario {
  width: 200px;
}

.goomba {
  width: 100px;
  position: absolute;
  left: 10px;
  top: 390px;
}

.baloon {
  /* position: absolute; */
}

.speach {
  position: absolute;
  top: 430px;
  left: 30px;

  font-size: 25px;
  color: #000;
}

.bowser {
  width: 200px;
}
